<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <a href="index.html"><img src="../images/logo.png" alt=""></a>
      </div>
      <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <div class="navigation">
          <div id="navigation">
            <ul>
              <li class="active"><a href="index.html" title="Home">Home</a></li>
              <li><a href="service.html" title="My service">my service</a> </li>
              <li><a href="about-me.html" title="About me">About me</a> </li>
              <li class="has-sub"><a href="blog-default.html" title="Blog ">Blog</a>
                <ul>
                  <li><a href="blog-default.html" title="Blog">Blog Default</a></li>
                  <li><a href="blog-single.html" title="Blog Single ">Blog Single</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#" title="Features ">Features</a>
                <ul>
                  <li><a href="diet-plan.html" title="diet-plan">Diet plan</a> </li>
                  <li><a href="testimonials.html" title="Testimonials">Testimonials</a></li>
                  <li><a href="faq.html" title="FAQ">FAQ</a></li>
                  <li><a href="404-error.html" title="404-error">404-error</a> </li>
                  <li><a href="styleguide.html" title="Styleguide">styleguide</a> </li>
                </ul>
              </li>
              <li><a href="contact-us.html" title="Contact Us">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
        <div class="header-btn"><a href="#" class="btn btn-default">get started</a></div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

