<!--<div class="page-header">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <div class="page-section">-->
<!--          <h1 class="page-title ">About me</h1>-->
<!--          <div class="page-breadcrumb">-->
<!--            <ol class="breadcrumb">-->
<!--              <li><a href="#">Home</a></li>-->
<!--              <li>about me</li>-->
<!--            </ol>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">-->
<!--        <div class="page-section">-->
<!--          <p>“Hi there! I’m Jessica. It is nice to virtually meet you and I can’t wait to connect. Thank you for taking the time to visit my site and learn more about what I do and how I do it”</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- page-header-close -->
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="about-section ">
          <div class="about-title">
            <h1>Welkom, kies hier uw menu</h1>
            <div class="meta">Nutrition, Diet Coach</div>
          </div>
          <p>Etiam vel augue ligulahasellus semper ones uisque non pulvinar eros quis luctus liberos lorem in ultrices interdacmn egete.</p>
          <p>Sisque non pulvinar eros quis luctus liberos lorem in ultrices interdacmn egete.</p>
        </div>
      </div>
      <div class="col-lg-7 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
        <img src="./images/profile-2.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="space-medium bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">
          <!-- section title start-->
          <h1>My Story</h1>
          <p>“I'm a Nutritionist who loves spending time in the kitchen,creating simple, nutritious recipes to help
            <br> your family eat better. I’m so glad you’re here! &amp; I hope you’re here”</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>I’m so glad you’re here! &amp; I hope you’re here because you’re looking for simple, nutritious recipes to help your family eat better, one meal at a time.I'm a Nutritionist who loves spending time in the kitchen, creating simple, nutritious recipes to help your family eat better. I am grateful to be able to share my approach to nutrition and enable others to joyfully reset their approach to food</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt30">
        <p>Etiam vel augue ligula.hasellus semper loremin ultrices interum quam metus accumsan exeget convallis lorem tellus sitamet ligulaed velit mitempus eget lacinia lacinia semper necqua.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt30">
        <p>Morbi sit amet dapibus uuspendisse ullamcorper tempor justo fringilla ipsum maximus eutat gravida duiorbi sollicitudin odionisi vestibulum nulla accumsan idonecat massaid mauris pulvinare.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="gallery-slider-carousel">
      <div class="owl-carousel slider">
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-1.jpg" alt=""></div>
        </div>
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-2.jpg" alt=""></div>
        </div>
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-3.jpg" alt=""></div>
        </div>
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-4.jpg" alt=""></div>
        </div>
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-5.jpg" alt=""></div>
        </div>
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-6.jpg" alt=""></div>
        </div>
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-3.jpg" alt=""></div>
        </div>
        <div class="item">
          <div class="slider-img"> <img src="./images/gallery-pic-5.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="video-section">
          <div class=""><img src="./images/video-img.jpg" alt="" class="img-responsive">
            <span class="play-btn"><a href="#"><img src="./images/play-btn.png" alt=""></a></span>
            <span class="play-link"><a href="#" class="btn-link">Watch My Recepies</a></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="widget">
          <h2 class="widget-title">
            contact info</h2>
          <div class="contact-info">
            <ul>
              <li><i class="icon-placeholder"></i>2177 Shearwood Forest, NH 03801</li>
              <li><i class="icon-phone-call"></i>+180-123-4567</li>
              <li><i class="icon-envelope"></i>info@dietcoach.com</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="widget">
          <h2 class="widget-title">follow me
          </h2>
          <div class="contact-social">
            <ul>
              <li><a href="#" class="contact-social-btn btn-facebook "><i class="fa fa-facebook-square"></i></a><span>Facebook</span></li>
              <li><a href="#" class="contact-social-btn btn-twitter "><i class="fa fa-twitter-square"></i></a><span>Twitter</span></li>
              <li><a href="#" class="contact-social-btn btn-googleplus "><i class="fa fa-google-plus-square"></i></a><span>Google+</span></li>
              <li><a href="#" class="contact-social-btn btn-instagram "><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
